@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <br />Kiev<br />
    <abbr title="Phone">+38096321326</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:deinega.vit1@gmail.com">deinega.vit1@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:deinega.vit1@gmail.com">deinega.vit1@gmail.com</a>
</address>